.tb {
    display: table;
    width: 100%;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

input,
button {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-family: Nunito, serif;
    margin: 0;
    padding: 0;
}

#cover {
    background-color: #ffb7cd;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff9c9c, 0 0 0 5px #ffffffeb;
    left: 0;
    margin: -83px auto 0 auto;
    padding: 35px;
    position: absolute;
    right: 0;
    top: 80%;
    transform: scale(0.4);
    width: 750px;
}

form {
    height: 96px;
}

input[type="text"] {
    caret-color: black;
    font-size: 60px;
    height: 96px;
    line-height: 1;
    width: 100%;
}

input[type="text"]::placeholder {
    color: #e16868;
}

#s-cover {
    padding-left: 35px;
    width: 1px;
}

button {
    cursor: pointer;
    display: block;
    height: 96px;
    position: relative;
    width: 84px;
}

#s-circle {
    background-color: transparent;
    border: 15px solid #fff;
    border-radius: 50%;
    border-width: 15px;
    height: 43px;
    left: 0;
    margin-top: 0;
    position: relative;
    top: -8px;
    transition: 0.5s ease all;
    width: 43px;
}

button span {
    background-color: transparent;
    border-radius: 10px;
    display: block;
    height: 15px;
    left: 43px;
    position: absolute;
    top: 68px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
    width: 45px;
}

button span:before,
button span:after {
    background-color: #fff;
    border-radius: 10px;
    bottom: 0;
    content: "";
    height: 15px;
    position: absolute;
    right: 0;
    transform: rotateZ(0);
    transition: 0.5s ease all;
    width: 45px;
}

#s-cover:hover #s-circle {
    background-color: #fff;
    border-radius: 20px;
    border-width: 0;
    height: 15px;
    top: -1px;
    width: 67px;
}

#s-cover:hover span {
    left: 56px;
    margin-top: -9px;
    top: 50%;
    transform: rotateZ(0);
    width: 25px;
}

#s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
}

#s-cover:hover button span:before,
#s-cover:hover button span:after {
    background-color: #fff;
    right: -6px;
    width: 40px;
}
  