@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animation-spin {
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-timing-function: ease-in-out;
}