* {
    outline: none;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: pink;
    margin: 0;
}

.capy-cursor {
    cursor: url("../icons/capy32.png"), auto;
}

.pe-none {
    pointer-events: none;
    user-select: none;
}

img {
    position: absolute;
    width: auto;
}

.zwykla {
    height: 150px;
    left: calc(50% - 115px);
    top: calc(50% - 75px);
}