body{
    background-color: pink;
}

.pe-none{
    pointer-events: none;
    user-select: none;
}

.image-sm{
    max-height: 200px;
}

.main-capy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.regular-capy{
    max-width: 200px;
    height: auto;
}