body{
    background-color: pink;
}

.aaaa {
    transform: rotate(20deg);
}

.pe-none{
    pointer-events: none;
    user-select: none;
}

img{
    width: auto;
    position: absolute;
}

.zwykla{
    height: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 150px);
}